// ! fonts go here
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
██████╗░░█████╗░░██████╗██╗░█████╗░  ██████╗░██╗░░░██╗██╗░░░░░███████╗░██████╗
██╔══██╗██╔══██╗██╔════╝██║██╔══██╗  ██╔══██╗██║░░░██║██║░░░░░██╔════╝██╔════╝
██████╦╝███████║╚█████╗░██║██║░░╚═╝  ██████╔╝██║░░░██║██║░░░░░█████╗░░╚█████╗░
██╔══██╗██╔══██║░╚═══██╗██║██║░░██╗  ██╔══██╗██║░░░██║██║░░░░░██╔══╝░░░╚═══██╗
██████╦╝██║░░██║██████╔╝██║╚█████╔╝  ██║░░██║╚██████╔╝███████╗███████╗██████╔╝
╚═════╝░╚═╝░░╚═╝╚═════╝░╚═╝░╚════╝░  ╚═╝░░╚═╝░╚═════╝░╚══════╝╚══════╝╚═════╝░
*/

$breakpoint-large: 1300px;
$breakpoint-small: 860px;
$mobile-nav-btn-c: rgb(255, 255, 255);
$mobile-nav-btn-wh: 30px;
$mobile-nav-bg-c: rgb(0, 0, 0);
$footer-c: rgb(36, 36, 36);
$footer-link-c: rgb(66, 66, 66);
html {
    scroll-behavior: smooth;
  }

* {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100vw;
}
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a {
    color: #009C58;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}


/*
*██╗░░██╗███████╗░█████╗░██████╗░███████╗██████╗░
*██║░░██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
*███████║█████╗░░███████║██║░░██║█████╗░░██████╔╝
*██╔══██║██╔══╝░░██╔══██║██║░░██║██╔══╝░░██╔══██╗
*██║░░██║███████╗██║░░██║██████╔╝███████╗██║░░██║
*╚═╝░░╚═╝╚══════╝╚═╝░░╚═╝╚═════╝░╚══════╝╚═╝░░╚═╝
*
*███╗░░██╗░█████╗░██╗░░░██╗██╗░██████╗░░█████╗░████████╗██╗░█████╗░███╗░░██╗
*████╗░██║██╔══██╗██║░░░██║██║██╔════╝░██╔══██╗╚══██╔══╝██║██╔══██╗████╗░██║
*██╔██╗██║███████║╚██╗░██╔╝██║██║░░██╗░███████║░░░██║░░░██║██║░░██║██╔██╗██║
*██║╚████║██╔══██║░╚████╔╝░██║██║░░╚██╗██╔══██║░░░██║░░░██║██║░░██║██║╚████║
*██║░╚███║██║░░██║░░╚██╔╝░░██║╚██████╔╝██║░░██║░░░██║░░░██║╚█████╔╝██║░╚███║
*╚═╝░░╚══╝╚═╝░░╚═╝░░░╚═╝░░░╚═╝░╚═════╝░╚═╝░░╚═╝░░░╚═╝░░░╚═╝░╚════╝░╚═╝░░╚══╝
*/


header {
    nav {
        display: flex;
        justify-content: space-between;
        height: 60px;
        .logo {
            height: inherit;
            display: flex;
            align-items: center;
            img {
                height: 50px;
            }
        }
        .mobile-toggle {
            display: none;
            align-items: center;
            button {
                display: inherit;
                justify-items: center;
                align-items: inherit;
                padding: 5px;
                margin: 0 5px 0 0;
                border: none;
                background-color: $mobile-nav-btn-c;
                
                svg {
                    color: rgb(0, 0, 0);
                    width: $mobile-nav-btn-wh;
                    height: $mobile-nav-btn-wh;
                }
            }
        }
        ul {
            padding: 0 20px;
            list-style: none;
            display: flex;
            align-items: center;
            height: 60px;
            display: flex;
            align-items: center;
            li {
                min-width: 35px;
            }
            li a {
                text-decoration: none;
                color: #000;
                font-size: 2em;
                padding: 0 30px;
            }
            li *:hover {
                color: #009C58;
            }
            img, svg {
                width: 35px;
                height: 35px;
                color: #000;
                margin: 0 15px;
            }
        }
    }
    border-bottom: 3px solid #707070;
}
.mobile-nav {
    background-color: $mobile-nav-bg-c;
    height: 100vh;
    position: fixed;
    right: 0;
    width: 100vw;
    ul {
        margin-top: 10px;
        list-style: none;
        text-align: right;
        li a {
            text-decoration: none;
            color: #fff;
            font-size: 2em;
            padding: 0 30px;
        }
    }
}
.mobile-nav-hidden {
    display: none;
}


/*
*███████╗░█████╗░░█████╗░████████╗███████╗██████╗░
*██╔════╝██╔══██╗██╔══██╗╚══██╔══╝██╔════╝██╔══██╗
*█████╗░░██║░░██║██║░░██║░░░██║░░░█████╗░░██████╔╝
*██╔══╝░░██║░░██║██║░░██║░░░██║░░░██╔══╝░░██╔══██╗
*██║░░░░░╚█████╔╝╚█████╔╝░░░██║░░░███████╗██║░░██║
*╚═╝░░░░░░╚════╝░░╚════╝░░░░╚═╝░░░╚══════╝╚═╝░░╚═╝
*/

footer {
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: $footer-c;
    border-top:  3px solid #707070;;
    display: flex;
    justify-content: center;
    .footer-container {
        width: 90vw;
        table {
            tr {
                td a, td p {
                    color: $footer-link-c;
                }
            }
        }
    }
}


.menu-footer-container {
    ul {
        margin: 20px 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        li a {
            font-size: 1em;
        }
    }
}



/*███████╗░█████╗░██████╗░███╗░░░███╗░██████╗
*██╔════╝██╔══██╗██╔══██╗████╗░████║██╔════╝
*█████╗░░██║░░██║██████╔╝██╔████╔██║╚█████╗░
*██╔══╝░░██║░░██║██╔══██╗██║╚██╔╝██║░╚═══██╗
*██║░░░░░╚█████╔╝██║░░██║██║░╚═╝░██║██████╔╝
*╚═╝░░░░░░╚════╝░╚═╝░░╚═╝╚═╝░░░░░╚═╝╚═════╝░
*/
fieldset{
    border: none;
}
legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
label {
    display: block;
    margin-bottom: 8px;
}
input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
textarea,
select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}
input[type="text"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus{
    background: #d2d9dd;
}
select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

input[type="submit"],
input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
input[type="submit"]:hover,
input[type="button"]:hover
{
    background: #109177;
}
/*
*
*░██╗░░░░░░░██╗██████╗░░░░░░░███████╗██╗░░░░░███████╗███╗░░░███╗███████╗███╗░░██╗████████╗░██████╗
*░██║░░██╗░░██║██╔══██╗░░░░░░██╔════╝██║░░░░░██╔════╝████╗░████║██╔════╝████╗░██║╚══██╔══╝██╔════╝
*░╚██╗████╗██╔╝██████╔╝█████╗█████╗░░██║░░░░░█████╗░░██╔████╔██║█████╗░░██╔██╗██║░░░██║░░░╚█████╗░
*░░████╔═████║░██╔═══╝░╚════╝██╔══╝░░██║░░░░░██╔══╝░░██║╚██╔╝██║██╔══╝░░██║╚████║░░░██║░░░░╚═══██╗
*░░╚██╔╝░╚██╔╝░██║░░░░░░░░░░░███████╗███████╗███████╗██║░╚═╝░██║███████╗██║░╚███║░░░██║░░░██████╔╝
*░░░╚═╝░░░╚═╝░░╚═╝░░░░░░░░░░░╚══════╝╚══════╝╚══════╝╚═╝░░░░░╚═╝╚══════╝╚═╝░░╚══╝░░░╚═╝░░░╚═════╝░
*/
.site-main {
    margin-top: 20px;
    margin: 0 auto;
    display: flex;
    align-self: center;
    max-width: 90vw;
    min-height: 100vh;
    padding: 10px;
    padding-top: 20px;
}
p {
    margin: 15px 0;
    font-size: 1.25em;
}
hr {
    margin: 20px;
    padding: 0;
    border: none;
    border-bottom: 2px solid #8f98a1;
}
h1 {
    font-size: 48px;
}
h2 {
    margin-top: 20px;
    font-size: 32px;
}
.wp-block-quote {
    border-left: 5px solid #000;
    padding-left: 30px;
}
.wp-block-image figure img, .wp-block-image img {
    width: 100%;
    height: auto;
}

.wp-block-columns {
    width: 90vw
}
.wp-block-latest-posts {
    li {
        margin-bottom: 200px;
    }
    li a{
        color: #009C58;
        font-size: 36px;
    }
    li a:nth-last-child() {
        font-size: 200px;
    }
    
}
.stellen-wrapper a{
    color: #009C58;
    font-size: 36px;
}
.wp-block-video {
    max-width: 90vw;
}
.bottom-hr {
    margin-bottom: 50px;
}
.beteiligung-container-yellow {
    margin-bottom: 10px;
    height: 320px;
}
.map-wrapper {
    display: flex;
    justify-self: center;
    text-align: center;
    svg {
        width: 80vw;
    }
}
.entry-content-page ul {
    margin-left: 25px;
}
.st6:hover {
    fill: #f00;
}
.footer--map--img {
    width: 80vw;
}
/*!
*██████╗░░█████╗░░██████╗████████╗  ░░░░██╗  ██████╗░░█████╗░░██████╗░███████╗░██████╗
*██╔══██╗██╔══██╗██╔════╝╚══██╔══╝  ░░░██╔╝  ██╔══██╗██╔══██╗██╔════╝░██╔════╝██╔════╝
*██████╔╝██║░░██║╚█████╗░░░░██║░░░  ░░██╔╝░  ██████╔╝███████║██║░░██╗░█████╗░░╚█████╗░
*██╔═══╝░██║░░██║░╚═══██╗░░░██║░░░  ░██╔╝░░  ██╔═══╝░██╔══██║██║░░╚██╗██╔══╝░░░╚═══██╗
*██║░░░░░╚█████╔╝██████╔╝░░░██║░░░  ██╔╝░░░  ██║░░░░░██║░░██║╚██████╔╝███████╗██████╔╝
*╚═╝░░░░░░╚════╝░╚═════╝░░░░╚═╝░░░  ╚═╝░░░░  ╚═╝░░░░░╚═╝░░╚═╝░╚═════╝░╚══════╝╚═════╝░
*/

.post-title {
    text-align: left;
    margin: 20px 0;
}
.wp-post-image {
    display: flex;
    align-self: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    
}
.post-meta {
    font-size: 16px;
    text-align: right;
}
.page-title {
    text-align: center;
    margin: 20px 0;
    margin-top: 50px;
}

/*
░░██╗██╗░█████╗░░░██╗██╗  ██████╗░░█████╗░░██████╗░███████╗
░██╔╝██║██╔══██╗░██╔╝██║  ██╔══██╗██╔══██╗██╔════╝░██╔════╝
██╔╝░██║██║░░██║██╔╝░██║  ██████╔╝███████║██║░░██╗░█████╗░░
███████║██║░░██║███████║  ██╔═══╝░██╔══██║██║░░╚██╗██╔══╝░░
╚════██║╚█████╔╝╚════██║  ██║░░░░░██║░░██║╚██████╔╝███████╗
░░░░░╚═╝░╚════╝░░░░░░╚═╝  ╚═╝░░░░░╚═╝░░╚═╝░╚═════╝░╚══════╝
*/

.wrapper-error {
    margin-top: 20px;
    min-height: 100vh;
    padding: 10px;
    padding-top: 20px;
    
    text-align: center;
    a {
        margin-bottom: 200px;
        color: #009C58;
        font-size: 3em;
    }
}
.error {
    font-size: 6em;
    color: #009C58;
    
    margin-top: 200px;
}

/*
███╗░░░███╗███████╗██████╗░██╗░█████╗░  ░██████╗░██╗░░░██╗███████╗██████╗░██╗███████╗░██████╗
████╗░████║██╔════╝██╔══██╗██║██╔══██╗  ██╔═══██╗██║░░░██║██╔════╝██╔══██╗██║██╔════╝██╔════╝
██╔████╔██║█████╗░░██║░░██║██║███████║  ██║██╗██║██║░░░██║█████╗░░██████╔╝██║█████╗░░╚█████╗░
██║╚██╔╝██║██╔══╝░░██║░░██║██║██╔══██║  ╚██████╔╝██║░░░██║██╔══╝░░██╔══██╗██║██╔══╝░░░╚═══██╗
██║░╚═╝░██║███████╗██████╔╝██║██║░░██║  ░╚═██╔═╝░╚██████╔╝███████╗██║░░██║██║███████╗██████╔╝
╚═╝░░░░░╚═╝╚══════╝╚═════╝░╚═╝╚═╝░░╚═╝  ░░░╚═╝░░░░╚═════╝░╚══════╝╚═╝░░╚═╝╚═╝╚══════╝╚═════╝░
*/

@media (max-width: $breakpoint-large) {
    header {
        nav {
            .logo {
                img {
                    height: 50px;
                }
            }
            ul {
                padding: 0 20px;
                li {
                    min-width: 35px;
                }
                li a {
                    font-size: 1.5em;
                    padding: 0 15px;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-small) {
    header {
        nav {
            .logo {
                img {
                    height: 30px;
                }
            }
            .mobile-toggle {
                display: flex;
            }
            ul {
                display: none;
            }
        }
    }
    .mobile-nav {
        display: block;
    }
    .site-main {
        max-width: 100vw;
    }
}